html,
body {
  padding: 0;
  body {
    margin: 0;
    height: 100vh;
    background: url("./assets/filigrana.png") no-repeat right center,
      /* linear-gradient(to bottom, #5c258d, #4389a2) */
        linear-gradient(to right, #141e30, #243b55);
    background-size: auto, cover;
    background-attachment: fixed, fixed;
  }
}

:root {
  font-family: "DynaPuff", system-ui;
}

/* Mobile View */
@media (max-width: 768px) {
  :root {
  }
}
