html,
body {
  padding: 0;
  body {
    margin: 0;
    height: 100vh;
    background: url("./assets/filigrana.png") no-repeat right center,
      /* PNG sopra */ linear-gradient(to bottom, #5c258d, #4389a2); /* gradiente sotto */
    background-size: auto, cover; /* primo = PNG, secondo = gradiente */
    background-attachment: fixed, fixed; /* fissi entrambi */
  }
}

:root {
  font-family: "DynaPuff", system-ui;
}

/* Mobile View */
@media (max-width: 768px) {
  :root {
  }
}
